/node_modules

/*.js
/*.d.ts
/*.d.ts.map
!/babel.config.js
!/.eslintrc.js
!/jest.config.js

!/index.ts
!/index.test.tsx
tsconfig.tsbuildinfo

/dist
/package.tgz

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
